@media screen and (max-width: 768px) {
  .pagination .page-limit {
    display: none;
  }

  .pagination.small {
    justify-content: center;
  }

  .pagination.small .arrow {
    font-size: 20px;
  }

  .pagination.small .page-info {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .pagination .page-limit {
    display: flex;
    flex-direction: row;
  }
}

.pagination {
  margin: 8px 16px;
  text-align: end;
  display: flex;
  justify-content: flex-end;
}

.pagination .arrow {
  cursor: pointer;
  font-size: 16px;
  margin: 1px 3px;
}

.pagination .arrow.inactive {
  opacity: 0.3;
}

.pagination select,
.pagination input[type='text'] {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 13px;
}

.pagination .page-number {
  width: 14px;
  margin: 0 5px;
}

.pagination .input {
  background-color: white;
  border-radius: 50vh;
  margin: 0 5px;
}

.pagination .page-info {
  display: flex;
  flex-direction: row;
}

.pagination.small .page-limit {
  display: none;
}
