.pagination {
  margin: 5px 10px;
  text-align: end;
  display: flex;
  justify-content: flex-end;
}

.pagination .arrow {
  cursor: pointer;
  font-size: 16px;
  margin: 1px 3px;
}

.pagination .arrow.inactive {
  opacity: 0.3;
}

.pagination select,
.pagination input[type='text'] {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 13px;
}

.pagination .page-number {
  width: 14px;
  margin: 0 5px;
}

.pagination .input {
  background-color: white;
  border-radius: 50vh;
  margin: 0 5px;
}
