.filter-name {
  font-size: 12px;
  margin: 10px 5px 5px 10px;
}

.filter {
  border: none;
  border-radius: 12px;
  background-color: #FFFFFF;
  padding: 1px 10px;
  width: 250px;
}

.filter>input[type=text], .filter>input[type=number], .filter>select, .react-datetime-picker__wrapper {
  border: none;
  background-color: transparent;
  height: 22px;
  width: 250px;
  color: #373737;
}

select {
  border: none;
  border-radius: 1px;
}
