select {
  border: none;
  border-radius: 1px;
}

.filter {
  margin-bottom: 16px;
}

.filter-name {
  font-size: 12px;
  margin: 0 5px 5px 10px;
}

.filter-input {
  border: none;
  border-radius: 50vh;
  background-color: #ffffff;
  padding: 1px 10px;
  width: 200px;
  margin-right: 10px;
  border: 1px solid transparent;
}

.filter-input > input[type='text'],
.filter-input > input[type='number'],
.filter-input > select,
.react-datetime-picker__wrapper {
  border: none;
  background-color: transparent;
  height: 22px;
  width: 200px;
  color: #373737;
  outline: none;
}

.filter-input.error {
  border: 1px solid #e34242;
  box-shadow: 0 0 5px #e34242;
}

.filter .error-message {
  color: #e34242;
}
