select {
  border: none;
  border-radius: 1px;
}

.filter {
  margin-bottom: 16px;
}

.filter-name {
  font-size: 12px;
  margin: 0 5px 5px 10px;
}

.filter-input {
  border: none;
  border-radius: 50vh;
  background-color: var(--white);
  padding: 1px 10px;
  width: 210px;
  margin-right: 10px;
  border: 1px solid transparent;
}

.filter-input > input[type='text'],
.filter-input > input[type='number'],
.filter-input > select,
.react-datetime-picker__wrapper {
  border: none;
  background-color: transparent;
  height: 22px;
  width: 210px;
  color: var(--medium-dark-gray);
  outline: none;
}

.filter-input.error {
  border: 1px solid var(--red);
  box-shadow: 0 0 5px var(--red);
}

.filter .error-message {
  color: var(--red);
}
