.playlist {
  display: flex;
  text-decoration: none;
  color: var(--light-gray);
  font-size: 12px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .playlist {
    padding: 16px 24px;
  }
}

@media screen and (min-width: 481px) {
  .playlist {
    padding: 16px 48px;
  }
}

@media screen and (max-width: 768px) {
  .playlist.playlist-small .info {
    display: none;
  }

  .playlist.playlist-small {
    padding: 20px;
  }
}

.playlist:hover,
.playlist.active:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.playlist.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.playlist .info {
  margin: 7px 0 7px 20px;
}

.playlist .info .name {
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
}

.playlist .info .owner {
  color: var(--light-gray);
  font-weight: bold;
}
