.playlist {
  display: flex;
  padding: 20px 50px;
  text-decoration: none;
  color: #b3b3b3;
  font-size: 12px;
  cursor: pointer;
}

.playlist:hover,
.playlist.active:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.playlist.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.playlist .info {
  margin: 7px 20px;
}

.playlist .info .name {
  color: #f9f9f9;
  font-size: 16px;
  font-weight: bold;
}

.playlist .info .owner {
  color: #b3b3b3;
  font-weight: bold;
}
