@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #f9f9f9;
  background-color: #373737;
}

.App {
  text-align: left;
  min-height: calc(100% - 20px);
  min-width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #373737, #181818);
  padding-bottom: 20px;
}

#header {
  padding: 15px 25px;
  display: flex;
}

#header .app-title {
  color: #1db954;
  font-size: 32px;
  font-weight: bold;
}

#header .show-filters {
  height: 25px;
  margin-top: 10px;
  margin-left: 30px;
  padding: 0 15px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50vh;
  color: #fff;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  display: flex;
  align-items: center;
}

#header .show-filters .arrow {
  margin-top: 4px;
  margin-left: 4px;
}

#contents {
  display: flex;
  flex-direction: row;
}

body .react-loading-skeleton {
  border-radius: 0;
}

.spotify-link {
  color: #1db954;
  cursor: pointer;
  text-decoration: none;
}

.spotify-link:hover {
  text-decoration: underline;
}

.spotify-link::after {
  display: inline-flex;
  content: '';
  width: 12px;
  height: 12px;
  background-image: url('../../assets/external-link.png');
  background-size: 12px;
  margin-left: 4px;
}

.spotify-link.white {
  color: #f2f2f2;
}

.spotify-link.white::after {
  background-image: url('../../assets/external-link-white.png');
}
