@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --white: #f9f9f9;
  --light-gray: #b3b3b3;
  --medium-gray: #3f3f3f;
  --medium-dark-gray: #373737;
  --translucent-medium-dark-gray: #343434e6;
  --dark-gray: #181818;
  --spotify-green: #1db954;
  --red: #e34242;
}

body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
  background-color: var(--medium-dark-gray);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: left;
  min-height: calc(100% - 20px);
  min-width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    var(--medium-dark-gray),
    var(--dark-gray)
  );
  padding-bottom: 20px;
}

@media screen and (max-width: 480px) {
  #header {
    padding: 16px 24px;
  }

  #header .app-title {
    font-size: 24px;
    flex: 1;
  }

  #header .show-filters {
    margin-top: 4px;
  }
}

@media screen and (min-width: 481px) {
  #header {
    padding: 16px 48px;
  }

  #header .app-title {
    font-size: 32px;
  }

  #header .show-filters {
    margin-top: 10px;
    margin-left: 30px;
  }
}

#header {
  display: flex;
}

#header .app-title {
  color: var(--spotify-green);
  font-weight: bold;
}

#header .show-filters {
  height: 25px;
  padding: 0 15px;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 50vh;
  color: var(--white);
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  display: flex;
  align-items: center;
}

#header .show-filters .arrow {
  margin-top: 4px;
  margin-left: 4px;
}

#contents {
  display: flex;
  flex-direction: row;
}

body .react-loading-skeleton {
  border-radius: 0;
}

.spotify-link {
  color: var(--spotify-green);
  cursor: pointer;
  text-decoration: none;
}

.spotify-link:hover {
  text-decoration: underline;
}

.spotify-link::after {
  display: inline-flex;
  content: '';
  width: 12px;
  height: 12px;
  background-image: url('../../assets/external-link.png');
  background-size: 12px;
  margin-left: 4px;
}

.spotify-link.white {
  color: var(--white);
}

.spotify-link.white::after {
  background-image: url('../../assets/external-link-white.png');
}
