@media screen and (max-width: 480px) {
  .track-container {
    min-width: 350px;
  }
}

@media (min-width: 481px) {
  .track-container {
    min-width: 50%;
  }
}

.track-container {
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.2);
  flex: 3;
}

.track-container .close-button {
  font-size: 32px;
  cursor: pointer;
}

.track-container .close-button:hover {
  opacity: 0.5;
}

.playlist-info {
  display: flex;
  flex-direction: row;
}

.playlist-info .playlist-details {
  margin: 24px 0 0 16px;
  flex: 1;
}

.playlist-info .playlist-details .list-type {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 4px;
}

.playlist-info .playlist-details .playlist-name {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 8px;
}

.playlist-info .playlist-details .track-count {
  color: var(--light-gray);
}

.playlist-info .playlist-details .playlist-owner {
  color: var(--white);
  font-weight: bold;
}

.track-list {
  margin-top: 16px;
}

.track {
  border-bottom: 1px solid var(--medium-gray);
  padding: 8px 16px;
}

.track:hover {
  background-color: var(--medium-gray);
}

.track .artist-list {
  color: var(--light-gray);
}

.track .artist:hover {
  text-decoration: underline;
  cursor: pointer;
}

.track-container.loading {
  opacity: 0.5;
}
