@media screen and (max-width: 768px) {
  .filter-panel.active {
    display: inline-table;
  }

  .filter-panel.visible {
    height: 145px;
  }
}

@media screen and (min-width: 769px) {
  .filter-panel {
    display: inline-flex;
  }

  .filter-panel.visible {
    height: 64px;
  }

  .auto-refresh {
    padding-top: 24px;
  }
}

.filter-panel {
  padding: 0 32px;
  height: 0px;
  transition: height 0.3s;
  visibility: hidden;
}

.filter-panel.visible {
  transition: height 0.3s;
  visibility: visible;
}

.auto-refresh {
  margin-left: 10px;
}

.auto-refresh input[type='checkbox'] {
  margin: 0;
}
