.filter-panel {
  padding: 0 30px;
  display: inline-flex;
  height: 0px;
  transition: height 0.3s;
  visibility: hidden;
}

.filter-panel.visible {
  height: 50px;
  transition: height 0.3s;
  visibility: visible;
}
